* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    font-family: 'Kumbh Sans', sans-serif;
}

body {
   background: linear-gradient(to top, #007ea7 0%, #ffffff 100%);
}

.bio {
   display: flex;
   align-items: flex-start;
}

.bio__image {
   margin-right: 15px;
}

.bio__content p {
   font-size: 20px;
}

.contact-box {
   border: #ffffff;
   border-style:double;
   margin: 20px 0;
}

.navbar {
    background: #c2dfe3;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    background: #007ea7;
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.fa-gem {
    margin-right: 0.5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #00a8e8;
    color: #ffffff;
}

.button:hover {
    background: #4837ff;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: #003459;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
   .bio {
      display: block;
      justify-content: center;
   }
   
   .bio__image {
      margin: auto;
   }
   
   .bio__content p {
      margin: auto 0px;
      font-size: 20px;
   }
 .navbar__container {
    background: #007ea7;
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
 }  

 .navbar__menu {
    display: grid;
    background: #131313;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    height: 50vh;
    z-index: -1;
 }

 .navbar__menu.active {
    background: #ffffff;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 50vh;
    font-size: 1.6rem;
 }

 #navbar__logo {
    padding-left: 25px;
 }

 .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
 }

 .navbar__item {
    width: 100%;
 }

 .navbar__links {
   color: #00a8e8;
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
 }

 #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
 }

 .navbar__btn {
    padding-bottom: 2rem;
 }

 .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
 }

 .navbar__toggle .bar {
    display: block;
    cursor: pointer;
 }

 #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
 }
 #mobile-menu.is-active .bar:nth-child(1) {
    transform: translate(8px) rotate(45deg);
 }
 #mobile-menu.is-active .bar:nth-child(3) {
    transform: translate(-8px) rotate(-45deg);
 }
}


/* Hero Section cSS */
.main {
   grid-template-columns: 1fr 1fr;
   align-items: center;
   justify-self: center;
   /* margin: 0 auto; */
   height: 90vh;
   /* background-color: #007ea7; */
   background: linear-gradient(to top, #007ea7 0%, #ffffff 100%);
   z-index: 1;
   width: 100%;
   max-width: 1300px;
   padding: 0 50px;
}

.main__content h1 {
   font-size: 4rem;
   /* background-color: #00a8e8; */
   background-image: linear-gradient(to top, #00a8e8 50%, #003459 100%);
   background-size: 100%;
   -webkit-background-clip: text;
   -moz-background-clip: text;
   -webkit-text-fill-color: transparent;
   -moz-text-fill-color: transparent;
}

.main__content h2 {
   font-size: 4rem;
   background-color: #00a8e8;
   background-image: linear-gradient(to top, #00a8e8 100%, #003459 50%);   
   background-size: 100%;
   -webkit-background-clip: text;
   -moz-background-clip: text;
   -webkit-text-fill-color: transparent;
   -moz-text-fill-color: transparent;
}

.main__content p {
   margin-top: 1rem;
   font-size: 2rem;
   font-weight: 700;
   color: #003459;
}

.main__btn {
   font-size: 1rem;
   background-image: linear-gradient(to top, #007ea7 0%, #e0fbfc 100%);
   padding: 14px 32px;
   color: #fff;
   border-radius: 4px;
   border: none;
   margin: 10px 0px;
   cursor: pointer;
   position: relative;
   transition: all 0.35s;
   outline: none;
}

.main__btn:hover {
   background: #003459;
}

.main__btn a {
   position: relative;
   z-index: 2;
   color: #fff;
   text-decoration: none;
}

.main__btn::after {
   position: absolute;
   content: '';
   top: 0;
   left: 0;
   width: 0;
   height: 100%;
   background: #4837ff;
   transition: all 0.35s;
   border-radius: 4px;
}

.main__btn:hover{
   color: #fff;
}